body{
    background-image: url(../../Images/NGC7000_PaoloMoroni1024.jpg);
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
}
#wrapper {
    margin: 20px;
}

.banner {
    height: 75px;
    width: 100%;
    border-radius: 5px;
    border: 2px solid #466083;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: #466083;
}

.banner h1 {
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.card {
    background-color: #466083;
    border-radius: 5px;
}

.card .title h2 {
    text-align: center;
    color: white;
}

.card .content {
    background-color: white;
    padding: 5px;
}

.card .large {
    min-height: 278px;
}

.card .content p {
    font-size: 1em;
}

.card .content img {
    width: 100%;
}

.GraphStyle{
    height: 100%;
    min-height: 427px;
}